body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 48px;
    background-color: #1F2937;
}

h1 {
    font-size: 18px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

nav ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px;
    background-color: #1F2937;
}

.features {
    background-color: #E5E7EB;
    padding: 48px;
}

.features h2 {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.features ul {
    color: #1F2937;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.features li {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    text-align: center;
}

.quote {
    background-color: lightgray;
    padding: 48px;
    font-size: 36px;
    font-weight: bolder;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

footer {
    background-color: #E5E7EB;
    text-align: center;
    color: #1F2937;
    padding: 48px;
}
