body {
    display: flex;
    flex-direction: column;
    margin: 0 250px;
    font-family: ;
}

header {
    display: inherit;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #1F2937;
}

nav {
    display: inherit;
}

header nav ul {
    display: inherit;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

main {
  display: inherit;
  flex-direction: column;
}

.hero {
  display: inherit;
  justify-content: space-between;
  background-color: #1F2937;
}

a {
  text-decoration: none;
}

.hero div {
    padding: 16px;
}
