body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: inherit;
    justify-content: space-between;
    padding: 0 200px;
    background-color: #1F2937;
}

nav {
    display: inherit;
}

header nav ul {
    display: inherit;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

main {
  display: inherit;
  flex-direction: column;
}

.hero {
  display: inherit;
  justify-content: space-between;
  padding: 80px 200px;
  background-color: #1F2937;
}

.hero figure {
  margin: 0;
}

a {
  text-decoration: none;
}

.features {
  display: inherit;
  flex-direction: column;
}

.features ul {
  list-style-type: none;
  display: inherit;
}
