*, *:before, *:after {
  box-sizing: border-box;
  font-family: Roboto;
  outline: 1px solid red;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: inherit;
    justify-content: space-between;
    padding: 0 200px;
    background-color: #1F2937;
}

header h1 {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: inherit;
}

header nav ul {
    display: inherit;
    align-items: center;
    list-style-type: none;
    gap: 16px;
}

main {
  display: inherit;
  flex-direction: column;
}

.hero {
  display: inherit;
  justify-content: space-between;
  padding: 80px 200px;
  background-color: #1F2937;
}

.hero h2 {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
}

.hero p {
  font-size: 18px;
  color: #E5E7EB
}

.hero figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: #E5E7EB
}

.features {
  display: inherit;
/*/im guessing justify-content: center; does nothing since it was in a row and */
  flex-direction: column;
  padding: 50px 200px 100px 200px;
  align-items: center;
}


.features ul {
  padding: 0;
  list-style-type: none;
  display: inherit;
  justify-content: space-evenly;
}

figcaption {
  width: 158px;
}

img {
  border-radius: 10px;
  border: 4px solid #3882F6;
}

.quote {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  background-color: #E5E7EB;
  padding: 100px 200px;
}

.quote blockquote {
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
  margin: 0;
}

.quote cite {
  text-align: right;
  font-weight: bold;
}
